@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*, *::before *::after {
    box-sizing: border-box;

}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

header.countainer-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header.countainer-header img {
    width: 150px;
    border-radius: 4px;
    margin-top: 15px;
}

header.countainer-header ul {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-top: 30px;
    list-style-type: none;
}

header.countainer-header li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem;
    color: black;
    border-radius: 999px;
    transition: all 0.8s ease-in-out;
    
}


header.countainer-header a.active {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 999px;
}

header.countainer-header a:hover {
    background-color: black;
    color: white;
}

header.countainer-header a.active:hover{
    color: white;
}

main{
    margin-inline: auto;
    margin-top: 5rem;
}

main .countainer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

main .countainer-content .content-satu{
    width: 40%;
    padding: 60px;
}
main .countainer-content .content-satu .judul{
    font-size: 3rem;
    margin-block: 1rem;
}
main .countainer-content .content-satu p{
    line-height: 1.7;
    font-size: 1.2rem;

}

main .countainer-content .content-img img{
    width: 50vh;
}

main .countainer-content .content-satu button{
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;


    border: 3px solid transparent;
    cursor: pointer;
    border-radius: 999px;
    transition: all 0.8s ease-in-out;
    background-color: black;
}
main .countainer-content .content-satu button:hover{
    border: 3px solid black;
    color: #11101b;
    background-color: transparent;
}


main .countainer-article{
    background-color: #fff;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

main .countainer-article article{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-flow: column wrap;
}

main .countainer-article p{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

main .countainer-article button{
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;


    border: 3px solid transparent;
    cursor: pointer;
    border-radius: 999px;
    transition: all 0.8s ease-in-out;
    background-color: black;
}

main .countainer-article button:hover{
    border: 3px solid black;
    color: #11101b;
    background-color: transparent;
}

main .countainer-content-dua{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

main aside .my-bio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    background-color: #fff;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

main .countainer-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 150px;
    color: black;
    padding: 15px;
    margin-bottom: 7rem;
}


main .countainer-card .countainer-contentdua img{
    width: 200px;
}

main .countainer-card .countainer-contentdua h2{
    font-size: 30px;
}

main .container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
  
main .container-form form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
  }
  
main .container-form h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  
main .container-form input, textarea {
    border: 0;
    margin: 10px 0px;
    padding: 20px;
    background: #f5f5f5;
    font-size: 16px;
    border-radius: 10px;
    resize: none;
  }
  
main .container-form button {
    background: white;
    color: #e65b00;
    border: 2px solid #e65b00;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin: 20px auto 0;
    border-radius: 30px;
    transition: all .5s ease-in;
  }
  
main .container-form button:hover {
    border: 1px solid #e65b00;
    background: #e65b00;
    color: white;
  }

footer {
    background-color: black;
    padding: 15px;
}

footer p{
    color: #fff;
    text-align: center;
}


/* Media Query Responsif */

/* Tablet */

@media screen and (max-width: 850px) {
    header.countainer-header ul {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    main .countainer-content-dua{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    main aside .my-bio{
        width: 350px;
    }

    main .countainer-article{
        width: 500px;
    }

    main .countainer-content{
        flex-direction: column;
        justify-content: center;
    }

    main .countainer-content .content-img img{
        width: 40vh;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    header.countainer-header ul {
        position: absolute;
        height: 500px;
        top: 60px;
        left: 2;
        right: 0;
        list-style-type: none;
        width: 100vw;
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(100%);
    }


    div.hamburger {
        display: block;
        margin-left: 150px;
        margin-top: 20px;
    }

    div.hamburger .line {
        width: 35px;
        height: 4px;
        margin: 5px;
        background-color: black;
        transition: all 2s;
    }

    header.countainer-header ul.slide {
        transform: translateX(0);
    }
    
    main .countainer-content .content-satu .judul{
        text-align: center;
        font-size: 30px;
    }

    main .countainer-content .content-satu p{
        font-size: 15px;
        text-align: center;
    }

    main .countainer-content .content-img img{
        width: 30vh;
    }
    main .countainer-article{
        width: 380px;
    }
}